<section class="page">
  <div class="container">
    <h1 class="page-title">Contacts</h1>
    <p class="page__desc">Let’s connect.</p>

    <div class="grid">
      <div class="panel">
        <h2 class="panel__title">Email</h2>
        <a class="link" href="mailto:esparagozamikkakette@gmail.com">esparagozamikkakette@gmail.com</a>
      </div>

      <div class="panel">
        <h2 class="panel__title">Social</h2>
        <div class="stack">
          <a class="link" href="https://www.linkedin.com/in/mikka-kette-esparagoza-1228563a7/" target="_blank" rel="noreferrer">LinkedIn</a>
          <a class="link" href="https://github.com/esparagoza-mikkakette" target="_blank" rel="noreferrer">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</section>
